<div class='container'>
  <h3 class='center mb-30'>カート内の商品</h3>
    <ul class='collection with-header'>
        <% current_user.baskets.each do |basket| %>
          <% if basket.product %>
            <li class='collection-item'>
              <%= basket.product ? basket.product.name : ''%>
              <p class="right">
                <span><%= basket.product.display_price %></span>
                <%= link_to basket_path(basket.id), method: :delete, data: {confirm: '削除してもいいですか？'} do %>
                  <span class="basket__delete">×</>
                <% end %>
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class='basket__total-amount right'> 合計金額 <%= @total_price %> 円</div>

  <%= form_tag charge_path do %>
  <% @products.each do |p| %>
  <%= hidden_field_tag 'product_ids[]', p.id %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <% end %>

  </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Q95hNnEKVbKqpoaN4EfNscVH00TgRzit2S"
          data-name="商品のお支払い"
          data-description="クレジット決済"
          data-amount="<%= @total_price %>"
          data-locale="auto"
          data-currency="jpy">
        </script>
<% end %>

</div>

