<h2 class='center'>
  新規商品の追加
</h2>
<div class='container'>
 <%= simple_form_for [:admins, @product] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :unit %>
  <%= f.input :image, as: :file, input_html: {accept: (@product.image.accept_extensions)} %>
  <br>
  <%= f.button :submit %>
 <% end %>
</div>