<h2 class='center'>商品一覧</h2>
<div class="products">
<div class='row'>

  <% @products.each do |product| %>
   <div class="row mt-20">
 <div class='col m12 s12 center'>
    <% if product.image.present? %>
      <%= image_tag product.image_url %>
    <% else %>
      <%= image_tag "sample.png" %>
  <% end %>
      <p>
        <%= product.name %>
      </p>
      <p>
        <%= product.description %>
      </p>
      <p>
        <%= product.display_price %>
      </p>
      <%= link_to "詳細", product %>
     </div>
     </div>
     </div>
    <hr/>
  </div>
<% end %>