<%= image_tag(@product.image.url || "sample.png") %>
<p>
  <%= @product.name %>
</p>
<p>
  <%= @product.description %>
</p>
<p>
  <%= @product.display_price %>
</p>

<%= link_to product_add_to_baskets_path(@product), method: :post do %>
<div class='waves-effect waves-light btn-small'>
  買い物かごに入れる
</div>
<% end %>