  <head>
    <title>park gallery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %> 
  </head>

<center>
</br>
<div class="image">
<%= image_tag(@product.image.url || "sample.png") %>
<p>
  <%= @product.name %>
</p>
<p>
  <%= @product.description %>
</p>
<p>
  <%= @product.display_price %>
</p>

<%= link_to baskets_path({product_id: @product.id}), method: :post do %>
<div class='btn btn-small'>
  買い物かごに入れる
</div>
<% end %>
<br/>
<br/>
<div class="container">
</center>