<!DOCTYPE html>
<html>
  <%= render 'layouts/user_header' %>
  <body>
     <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        <nav>
          <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down" id="nav-mobile">
          </div>
        </nav>
    <%= yield %>
  </body>
  <%= render 'layouts/user_footer' %>
</html>
