<!DOCTYPE html>
<html>
  <head>
    <title>管理画面</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <nav>
     <div class="nav-wrapper">
     <%= link_to '商品を追加', new_admins_product_path %>
       <ul class="right hide-on-med-and-down" id="nav-mobile">
         <% if current_admin.present? %>
          <li><%= link_to 'ログアウト（アドミン）', destroy_admin_session_path, method: :delete %></li>
         <% end %>
        </ul>
     </div>
   </nav>
    <%= yield %>
  </body>
</html>
