<!DOCTYPE html>
<html>
  <%= render 'layouts/admin_header' %>
  <body>
     <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <nav>
     <div class="nav-wrapper">
       <%= yield(:nav) %>
       <%= yield(:nav02) %>
        </ul>
     </div>
   </nav>
    <%= yield %>
  </body>
    <%= render 'layouts/admin_footer' %>
</html>
