<div class='container'>
  <h2 class='center'>管理者画面</h2>
  <div class='collection'>
    <ul>
      <li class='collection-item admin__collection-item'>
        <span>売上履歴<span class='admin__sales ml-10'>
        <%= Admin.last.sales %><%= ' 円' %>
            <%= link_to '詳細', admins_sales_record_path %>
          </span>
        </span>
      </li>
      <li class='collection-item admin__collection-item'>
        <span>今月の売上<span class='admin__sales ml-10'>
         <%= Admin.last.sales_this_month %><%= ' 円' %>
          </span>
          <%= link_to '詳細', admins_sales_record_path(start_at: Time.current.beginning_of_month, end_at: Time.current.end_of_month) %>
        </span>
      </li>
    </ul>
  </div>
</div>

<% content_for :nav do %>
   <li><%= link_to '商品を追加', new_admins_product_path %></li>
   <li><%= link_to '商品の削除', admins_products_path %></li>
<% end %>

<% content_for :nav02 do %>
  <% if current_admin.present? %>
    <li><%= link_to 'ログアウト（アドミン）', destroy_admin_session_path, method: :delete %></li>
  <% end %>
<% end %>
